<a href="https://colab.research.google.com/github/AshishSiwach/Python-Data-Structures/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Sets**

In [1]:
st = {'a', 'b', 'c', 'd', 'e'}
print(type(st))

<class 'set'>

In [1]:
# set stores only unique items
s = set([1, 2, 2, 3, 4, 4, 5])
print(s) # duplicate items have been removed in the set output

{1, 2, 3, 4, 5}

In [2]:
# add items to the set using add method
s.add(6)

In [3]:
s

{1, 2, 3, 4, 5, 6}

In [5]:
s.add(7)
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [6]:
# verify if item in set or not
1 in s

True

In [4]:
s = {'a', 'b', 'c', 'd', 'e'}
s1 = {'a', 'f', 'c', 'g', 'h'}
print(s)
print(s1)

{'e', 'd', 'a', 'c', 'b'}
{'g', 'a', 'h', 'f', 'c'}

In [5]:
# find common items in both the sets that is intersection
intersection = s & s1
print(intersection)
intersection1 = s.intersection(s1)
print(intersection1)
# both the ways yield same result

{'c', 'a'}
{'c', 'a'}

In [6]:
# union of both sets
union = s | s1
print(union)
union1 = s.union(s1)
print(union1)

{'e', 'g', 'd', 'a', 'h', 'f', 'c', 'b'}
{'e', 'g', 'd', 'a', 'h', 'f', 'c', 'b'}

In [7]:
# elements present in set s and not in s1
diff = s - s1
print(diff)
diff_1 = s.difference(s1)
print(diff_1)

{'e', 'd', 'b'}
{'e', 'd', 'b'}

In [8]:
# elements present in s1 and not in s
diff1 = s1 - s
print(diff1)
diff_2 = s1.difference(s)
print(diff_2)

{'f', 'h', 'g'}
{'f', 'h', 'g'}

In [13]:
# Checking subset and superset
s2 = {'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'}
# Check if s and s1 are subset of s2
print(s.issubset(s2))
print(s1.issubset(s2))
# Check if s2 is superset of s and s1
print(s2.issuperset(s))
print(s2.issuperset(s1))

True
True
True
True

In [15]:
# sum the elements of a set
s = {1, 2, 3, 4, 5}
print(sum(s))
# average of elements of a set
print(sum(s)/len(s))

15
3.0