<a href="https://colab.research.google.com/github/AshishSiwach/Python-Data-Structures/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Tuples**

In [2]:
emp_t = ()
print('empty tuple',emp_t)
print(type(emp_t))
t = (1, 2, 3, 4)
print(t)
print(type(t))

empty tuple ()
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>

In [6]:
n_t = (1, 2,(1, 4)) # nested tuple
print(n_t)
# tuple indexing
print('tuple indexing')
print(n_t[0])
print(n_t[-1][1])
# tuple slicing
print('tuple slicing')
print(n_t[:2])
print(n_t[-2:-1])
# length of a tuple
print('length of a tuple: ',len(n_t))
# concatenating tuples
t1 = (9, 3, 36)
t2 = n_t + t1
print('concatenated tuple',t2)
# tuple repetition
print('tuple repetition')
print(t2 * 2)
# min and max values in the tuple
print('min value in a tuple',min(t1))
print('max value in a tuple',max(t1))
# sorting the tuple
print('tuple sorted',sorted(t1))
print('tuple sorted in reverse order', sorted(t1, reverse = True))

(1, 2, (1, 4))
tuple indexing
1
4
tuple slicing
(1, 2)
(2,)
length of a tuple:  3
concatenated tuple (1, 2, (1, 4), 9, 3, 36)
tuple repetition
(1, 2, (1, 4), 9, 3, 36, 1, 2, (1, 4), 9, 3, 36)
min value in a tuple 3
max value in a tuple 36
tuple sorted [3, 9, 36]
tuple sorted in reverse order [36, 9, 3]

In [7]:
# average of items in tuple t1
print('average of items in tuple t1', sum(t1)/len(t1))

average of items in tuple t1 16.0

In [9]:
# update item at index 1 in t1
y = t1[0:1]
t1_updated = y + (45, 36)
print(t1_updated)

(9, 45, 36)